.twchat-direct-message-page.wrap {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.twchat-direct-message-page .twchat-direct-message-form {
    display: table-caption !important;
}
.twchat-direct-message-page .twchat-direct-message-form label{
    display: table-cell !important;
    width: 50%;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 5px;
}