.twchat-field {
    display: grid;
    max-width: 40vw;
    margin: 15px 0px;
}
.twchat-field label {
    margin-bottom: 2px;
}

.TWChat-default-account-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#TWChat_account_profile input[type="radio"]:checked + label {
    border: 1px solid #bae7ff;
    background: #e6f5ff;
    border-radius: 60%;
}
#TWChat_account_profile input[type="radio"]:disabled + label {
    opacity: 0.5;
}
   
.TWChat-default-account-images input[type="radio"] {
    display: none;
}
img.TWChat-default-account-image {
    width: 53px !important;
    height: 53px !important;
    background: #fff !important;
    background-image: unset !important;
    background-color: unset !important;
    margin: 5px !important;
    border-radius: 60% !important;
    cursor: pointer;
}
.TWChat-upload-image-icon {
    background: dimgray;
}